.information {
    font-weight: 400;
    line-height: 170%;
    font-size: 18px;
    width: 555px;
    position: relative;
    .information_img {
        position: absolute;
        margin-top: -130px;
        width: 100%;
    }
}

