.about {
    .container {
        display: flex;
    }
}
.information {
    p {
        line-height: 170%;
        font-size: 18px;
        width: 555px;
        margin-bottom: 20px;
        font-weight: 300;
        text-align: justify;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
.information_img {
margin: 0 auto;
max-width: 550px;
width: 100%;
display: flex;
}
