.about {
        position: relative;
}
.information {
    font-weight: 400;
    line-height: 170%;
    font-size: 18px;
    width: 555px;
    margin-bottom: 20px;

    .information_img {
        position: absolute;
        margin-top: -160px;
        
    }
}

