.first-screen {
    position: relative;

    &-slider__title {
        font-size: 56px;
        font-weight: 700;
        line-height: 126%;
        text-transform: uppercase;
        max-width: 473px;
        margin-bottom: 8px;
    } 
    
    &-slider__subtitle {
        font-size: 20px;
        font-weight: 300;
        line-height: 135.5%;
        margin-bottom: 37px;
        max-width: 345px;
    }

    &-slider__arrows {
        position: absolute;
        max-width: 1570px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0 60px;
    }
    
    .btn-lg {
        display: flex;
    }

    .btn-lg .icon {
        margin: 0 -14px 0 43px;
    }

    .container {
        margin-bottom: 64px;
        padding: 0 92px;
    }

    .container-xxl {
        max-width: 8920px;
        min-height: 700px;
        display: flex;
        align-items: center;
        border-radius: 20px;
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 43px;
        transform: translate(-50%, 0);

    li {
            border-radius: 50px;
        }
        .slick-active button{
            background-color: transparent;
        }
    }
}