///fonts///
$font-primary: "ProximaNova";
$font-secondary:  "monospace";
$font-size: 16px;
$section-margin-lg: 100px;
$section-margin: 60px;
$section-margin: 60px;

///colors///
$color-primary: #E58D35;
$color-secondary: #89C249;
$color-text: #fff;
$bg-primary: #282B38;
$bg-secondary: #363A4D;
