<footer>
    <div class="container">
        <div class="row footer-content">
            <div class="col-lg-3">
                <div class="footer-logo">
                    <img src="assets/img/logo.svg" class="logo" alt="logo"></div>
                    <div class="footer-adress">
                        <h5>8(800)600-18-69</h5>
                        <a class="email" href="#">info@cargoasia.info</a>
                        <h5>Адрес в Китае:</h5>
                        <h5>浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379</h5>
                        <div class="social__img">
                            <img src="assets/img/instagram.svg" class="social media-1" alt="instagram">
                            <img src="assets/img/vkontakte.svg" class="social media-2" alt="vk">
                            <img src="assets/img/telegram.svg" class="social media-3" alt="telegram">
						</div>
                        </div>
                    </div>

					<div class="col-lg-3">
                    <div class="footer-links column-1">
							<h4>Грузоперевозки</h4>
								<a href="#">Цены и сроки</a>
								<a href="#">Услуги</a>
								<a href="#">О компании</a>
								<a href="#">Контакты</a>
								<a href="#">Оформить груз</a>
						</div>
                    </div>

					<div class="col-lg-3">
                    <div class="footer-links column-2">
							<h4>Услуги</h4>
							<a href="#">Выкуп товара</a>
							<a href="#">Страховка груза</a>
							<a href="#">Аренда склада</a>
							<a href="#">Перевод денежных средств</a>
						</div>
					</div>

					<div class="col-lg-3">
                    <div class="footer-links column-3">
						<h4>Информация</h4>
						<a href="#">Отзывы</a>
						<a href="#">Требования к грузу</a>
						<a href="#">Договор-оферта</a>
						<a href="#">Как заключить договор</a>
						<a href="#">Способы оплаты услуг</a>
						<a href="#">Документы</a>
						<a href="#">Статьи</a>
					</div>
                </div>
            </div>
		</div>
</footer>
<script src="assets/js/jquery-3.7.0.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>
